body {
    padding: 0 10%;
    margin:0;
    font-family: 'Open Sans', sans-serif;
}

/* * {border: 1px solid green;} */
nav {
    padding:10px 5px;
    margin-bottom: 60px;
}

h1 {
    font-size: 40px;
}

a {
    text-decoration: none;
}

section.full-page {
    padding: 30px 0px;
}
/* .divide {
    width: calc((100%/2) - 4px);
    /* width: 50%; 
    float:left;
} */

.divide {
    float: left;
    width: calc((100%/2) - 10px);
    position: relative;
}

.img-holder {
    width:70%; height: auto;
    z-index: 1;
}

.shape-holder {
    width:70%; height: auto;
    position: absolute;
    top : 30%;
    left: 20%;
    z-index:-1;
    background-color: #072448;
}

.btn-nav {
    color:#FF6150;
    border : none;
    border-radius: 5px;
    background-color:rgba(255, 97, 80, 0.09);
    padding:15px;
}

.circle-holder {
    position: absolute;
    top:30px;
    left:-15px;
    z-index: -2;
}
.logo-holder span {
    padding: 20px;
    position: absolute;
    top:0px;
}

.btn-head {
    color:white;
    border : none;
    border-radius: 5px;
    background-color: #FF6150;
    padding:15px;
}
.menu-btn-holder {
    display: inline-block;
    float:right;
    position: absolute;
    top:5px;
    right:calc(10% + 60px);
}

.img-holder img {
    width: 100%;
    height:auto;
}
